.statuscontainer {
    position: absolute;
    left: 75%;
    right: 2%;
    top: 10%;

    background-color: rgba(255, 255, 255, 1);
    background-image: url("img/notepaper.png");

    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 35px;
    color: rgb(31, 31, 32);

    padding: 2rem;
    box-sizing: border-box;
}

img.darcywave {
    /* shadow behind the waving gif */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.377));
    max-width: 100%;
}
img.kaylabutton:hover {
    transform: scale(1.1,1.1)
}
div.kaylabutton {
    display: grid;
        place-items: center;

    width: 100%;
}
img.kaylabutton {
    max-width: 40vh;
    max-height: 40vh;
    object-fit: contain;
    transition: filter 0.25s ease, transform 0.25s ease;
}
/* i just wanna make it known, this proccess was terrible and i wish i could just use html LOL */

.slideup {
    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);

    transform: translate(0,0);

    position: fixed;
    left: 70%;
    right: 5%;
    top: 93%;
    min-height: 50vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction:column;
}

.slideup:hover {
    transform: translate(0,calc(-100% + 67px));
}

.secretpanel {
    background-color: #6D7084;
    width: 100%;
    height: 100%;

    border-left: 6px solid black;
    border-right: 6px solid black;
    box-sizing: border-box;
}
.secretpanel a {
    color: orange;
}
.secretinput {
    width: 70%;
}

h3 {
    text-decoration: underline;
}

ul {
    display:inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
    .statuscontainer {
        position:unset;

        margin: 5%;
    }

    .slideup {
        left: unset;
        position: fixed;
            right: 5%;
            top: 93%;

        min-width: 30%;
        max-width: 60%;
    }
}