/* ad stuff */
.addivvertleft {
    position: fixed;
        left: 0;
        right: 85vw;
        top: 0;
        bottom: 0;

    display: flex;
        align-items: center;
        justify-content: center;
}
.addivvertright {
    position: fixed;
        left: 85vw;
        right: 0;
        top: 0;
        bottom: 0;

    display: flex;
        align-items: center;
        justify-content: center;
}
/* only bottom for horizontal */
.addivhori { 
    position: fixed;
        left: 0;
        right: 0;
        top: 85vh;
        bottom: 0;

    display: flex;
        align-items: center;
        justify-content: center;
}

phil-ad {
    filter: drop-shadow(4px 4px 8px black)
}