@import "fonts.css";

.topbar {
    position: sticky;
    top: 0vh;
    left: 0vw;
    height: 8vh;
    width: 100%;
    
    z-index: 100000;

    padding-top: env(safe-area-inset-top);

    background-color: #00000080;
    backdrop-filter: blur(5px);
    border-bottom: 5px solid black;
    box-sizing: border-box;

    display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
}

.topbaricons {
    height: 100%;
    max-width: 70%;
    min-width: 70%;

    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
}
#realicons {
    width: 100%;
    height: 100%;

    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
}

topbar-item > a > img {
    display: block;

    height: 5vh;
    width: auto;

    transition: transform 0.25s ease, filter 0.25s ease;
}
topbar-item > a:hover > img {
    /* make it bigger when its hovered */
    transform: scale(1.15);
    /* make it brighter when hovered */
    filter: brightness(125%);
}

.scrollingcontainer {
    height: 100%;
    min-width: 30%;
    flex-grow: 1;

    background-color: black;
    border-left: 5px solid black;
    box-sizing: border-box;

    display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

    color: rgb(255, 102, 0);

    font-family: "comic sans";
    font-size: 20px;
}
.scrollingcontainer:not(:has(img)) {
    align-items: center;
}

/* cool css tricks to make YOU shit pants! */
.scrollingcontainer a:visited {
    color: #0000EE;
}

#marq {
    font-size: 165%;
}

#realicons {
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}

#sitelinks {
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
    
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: 1%;
    margin-right: 5%;
}
#sociallinks {
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;

    box-sizing: border-box;
    margin-right: 1%;

    width: max-content;
}

#hamburgerlabel {
    display: none;
}
#hamburgerbutton {
    display: none;
}
@media (max-width: 1000px) {
    #topbaricons {
        min-width: auto;
        height: 100%;
        aspect-ratio: 1;
    }

    #hamburgerlabel {
        display: flex;
            align-items: center;
            justify-content: center;
        padding: 10%;
        height: 80%;
    }
    #hamburgerlabel > img {
        width: 100%;
        height: 100%;
    }

    #hamburgerbutton {
        display: inline;
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    #hamburgerbutton:checked + #hamburgerlabel {
        transform: scale(1.1);
    }

    #realicons {
        position: absolute;
            left: -60vw;
            top: 8vh;
            width: 60vw;
            height: 92vh;

        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 1%;
        
        padding-top: 5%;
        background-color: #00000080;
        backdrop-filter: brightness(200%);
        border-right: 5px solid black;
        box-sizing: border-box;

        transition: transform 0.25s ease;
    }
    #sitelinks {
        flex-direction: column;
        flex-grow: 0;
        gap: 1rem;
    }
    #sociallinks > topbar-item > a > img {
        height: auto;
    }
    #sociallinks {
        /* border-top: 2px solid black; */
        margin-top: 2rem;
        width: 30%;
    }

    .topbaricon {
        max-width: 100%;
        max-height: 100%;

        object-fit: contain;
        cursor: pointer;
    }

    #hamburgerbutton:checked ~ div {
        transform: translateX(100%);
    }
}